.health{color:rgb(234, 0, 255);}
.agricon{color:cyan; font-size: 200%;}
#header{background-color:orange;border-bottom: 2px solid red;}
.body{margin:0;}
#nav{background-color:white;border-bottom: 2px solid red;height:20px;}
#nav ul{background-color:white; list-style-type: none;}
#nav ul li{float:left; border-right:1px solid red;}
#nav ul li a{padding:10px;}
#nav ul li a:hover{color:orange;}
a{text-decoration: none; list-style-type: none;}
img{width:600px;height:300px;}